/* Tiles Layout and Wrapper */
:root {
  --dark-mode-link: #6db3f2;
  --dark-mode-background: #1a1a1a;
  --dark-mode-text-color: #e0e0e0;
  --light-mode-background: #ffffff;
  --light-mode-link: #1756a9;
}

.tiles-wrapper {
  width: 100%;
  /* max-width: 1480px; */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tiles-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* Tile Layout */
.tile {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background: #f6f6f6;
  border-radius: 6px;
  min-height: 6rem;
  box-sizing: border-box;
  font-size: 80%;
}

/* Prevent image from shrinking in flex layout */
.tile > picture,
.tile > a {
  flex-shrink: 0;
  width: 80px;
  padding: 0 1em 0 0;
  margin: 0 10px 0 -10px;
}

.tile > a > picture {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tile img {
  width: 100%;
  height: auto;
}

.tile > p {
  margin: 0;
}

footer .icon {
  height: 1.5rem;
  width: auto;
  vertical-align: middle;
}

.site-header .site-icon {
  height: 2rem;
  width: auto;
  margin-right: 1rem;
  vertical-align: middle;
}

/* Dark Mode  */
@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-mode-background);
    color: var(--dark-mode-text-color);
  }

  .tile {
    background: #2d2d2d;
    color: var(--dark-mode-text-color);
  }

  a, a:visited {
    color: var(--dark-mode-link);
  }

  a:hover, a:focus {
    color: var(--light-mode-link);
    text-decoration: none;
  }

  header, footer {
    background-color: var(--dark-mode-background);
    border-color: #333;
  }

  a.site-title, a.site-title:visited {
    color: var(--dark-mode-text-color);
  }

  a.site-title:hover, a.site-title:focus {
    color: var(--dark-mode-link);
    text-decoration: none;
  }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  body {
    background: var(--light-mode-background);
    color: #000000;
  }

  .tile {
    background: #f6f6f6;
  }

  a, a:visited {
    color: var(--light-mode-link);
  }

  a:hover, a:focus {
    color: var(--dark-mode-link);
    text-decoration: none;
  }
}

/* For small screens */
@media (max-width: 800px) {
  .tiles-grid {
    grid-template-columns: 1fr; /* stack vertically */
  }
}
